<h1>New Game</h1>
<div class="main">
<%  @letters.each do |letter| %>
  <div class="letter"><%= letter %></div>
<% end %>
</div>
<div>
<form action="/score" method="post">
    <p>What is the longest word you can find?</p>
    <input type="text" name="word">
    <input class="btn-gradient" type="submit" value="Submit a word!">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
</div>
